
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    transition: none
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #545454;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #404040;
    border-bottom: 1px solid #545454;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #ff9429;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #ff9429 !important;
    color: #000000;
}

.list-group-item {
    user-select: none;
}

.list-group input[type="checkbox"] {
    display: none;
}

.list-group input[type="checkbox"] + .list-group-item {
    cursor: pointer;
}

.list-group input[type="checkbox"] + .list-group-item:before {
    content: "\2713";
    color: transparent;
    font-weight: bold;
    margin-right: 1em;
}

.list-group input[type="checkbox"]:checked + .list-group-item {
    background-color: #ff9429;
    color: #000000;
}

.list-group input[type="checkbox"]:checked + .list-group-item:before {
    color: inherit;
}

.list-group input[type="checkbox"] + .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group input[type="checkbox"] + .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
