{% extends "base.html" %}
{% load static %}

{% block title %}Register / Login{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div id="page-content" class="container-fluid">
        <div class="container">
            <div class="row register-padding">
                <div class="col-4"></div>
                <div class="col-4">
                    <h1>Register</h1>
                    <div class="horizontal-separator"></div>
                    <form action="{% url 'register' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ register_form.non_field_errors }}
                        {% for field in register_form.visible_fields %}
                        <div class="form-group">{{field.label_tag}}{{field}}
                            <span class=“error”>{{field.errors}}</span>
                        </div>
                        {% endfor %}
                        <button id="register-submit" type="submit" class="btn btn-primary" name="submit" value="register">Submit</button>
                        <div>
                            <span>Already a member? <a href="{% url 'login' %}">Log in</a></span>
                        </div>
                    </form>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}