body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*padding-top: 70px;*/
  /*padding-bottom: -70px;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#round .dropdown-item{
  height: 57px;
  white-space: normal;
  text-overflow: ellipsis;
}

.link-color-fix span a {
  color: black;
}
.link-color-fix span a:hover {
  color: #0d6efd;
}
